body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
}
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.btn-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.btn {
    font-size: 18px;
    padding: 15px 20px;
}
.form-control {
    font-size: 40px;
    padding: 30px;
    height: 120px; /* Increased height for very big appearance */
}
.btn-primary {
    font-size: 28px;
    padding: 20px;
}

#form {
    display: none;
}

.alert {
    display: none;
    padding: 20px;
}

.alert-heading {
    font-weight: bold;
}
